.bgColor{
background-color: #1abc9c;
}
.mainColor
{
    color:#2c3e50;
}

.title h2{
    font-size:3rem;
    font-weight: bold;
    color: #2c3e50;
}
.line
{
    width:70px;
    position: relative;
    margin: auto;
}
.line::after
{
    content: "";
    width: 130px;
    height: 5px;
    position: absolute;
    top:50%;
    left: 0;
    background-color: #2c3e50;
    transform: translateX(-130px);
    border-radius: 0.3rem;
}
.line::before
{
    content: "";
    width:130px;
    height: 5px;
    position: absolute;
    top:50%;
    right: 0;
    background-color: #2c3e50;
    transform: translateX(130px);
    border-radius: 0.3rem;
}

.contactName{
    display: none;
}
.contactForm input{
    font-size: 1.5rem;
    margin-top: 10px;
}
.contactForm input:focus
{
    box-shadow: none !important;
}
.contactForm textarea{
    font-size: 1.5rem;
    margin-top: 10px;
    resize: none;
}
.contactForm textarea:focus
{
    box-shadow: none !important;
}

.lineInp
{
    height:0.5px;
    background-color: grey;
    opacity: 0.3px;
    margin: 20px 0px !important;

}